/* 
    Screen -   #C5C1C0
    Steel -    #0A1612
    Denim -    #1A2930
    Marigold - #F7CE3E
*/

body {
    background-color: #C5C1C0;
}

header {
    color: #1A2930;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    color: #1A2930;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.HeaderName {
    color: #F7CE3E;
    text-shadow: 2px 2px 10px #1A2930;
}