/* 
    White -         #C5C1C0
    Dark Green -    #0A1612
    Dark Blue -     #1A2930
    Yellow -        #F7CE3E
*/

body {
    background-color: #1A2930;
}

header {
    color: #C5C1C0;
    font-size: 7em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    color: #C5C1C0;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


hr {
    background-color: #C5C1C0;
    margin-left: 10%;
    margin-right: 10%;
}

.headerName {
    color: #F7CE3E;
}

.intro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.comment {
    color: #F7CE3E;
    font-style: italic;
}

.checkMeOut {
    margin-top: 20px;
    margin-bottom: 40px;
}

.linkButton {
    color: #F7CE3E;
    animation: linkButtonIdleAnim 0.2s ease-out forwards;
    text-decoration: none;
    outline-color: #F7CE3E;
    outline-width: 2px;
    outline-style: outset;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.linkButton:hover {
    animation: linkButtonHoverAnim 0.2s ease-out forwards;
}

.link {
    color: #F7CE3E;
    text-decoration: none;
    letter-spacing: normal;
}

@keyframes linkButtonHoverAnim {
    from {
        color: #F7CE3E;
        letter-spacing: inherit; 
    }
    to {
        color: #C5C1C0;
        letter-spacing: 3px; 
    }
}
@keyframes linkButtonIdleAnim {
    from {
        color: #C5C1C0;
        letter-spacing: 3px;
    }
    to {
        color: #F7CE3E;
        letter-spacing: inherit;
    }
}