/* 
    White -   #C5C1C0
    Dark Green -    #0A1612
    Dark Blue -    #1A2930
    Yellow - #F7CE3E
*/

body {
    background-color: #1A2930;
}

header {
    color: #C5C1C0;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    color: #C5C1C0;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: #F7CE3E;
    animation: linkButtonIdleAnim 0.2s ease-out forwards;
}

a:hover {
    animation: linkButtonHoverAnim 0.2s ease-out forwards;
}

hr {
    background-color: #C5C1C0;
    margin-left: 10%;
    margin-right: 10%;
}

.headerName {
    color: #F7CE3E;
    transform: rotate(90);
}

.intro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.checkMeOut {
    margin-top: 20px;
    margin-bottom: 40px;
}

.linkButton {
    color: #F7CE3E;
    text-decoration: none;
    outline-color: #F7CE3E;
    outline-width: 2px;
    outline-style: outset;
    padding: 10px;
    margin: 10px;
}

@keyframes linkButtonHoverAnim {
    from {
        color: #F7CE3E;
        letter-spacing: inherit; 
    }
    to {
        color: #C5C1C0;
        letter-spacing: 5px; 
    }
}
@keyframes linkButtonIdleAnim {
    from {
        color: #C5C1C0;
        letter-spacing: 5px;
    }
    to {
        color: #F7CE3E;
        letter-spacing: inherit;
    }
}