html, body, a, ul, li {
    text-align: center;
    font-size: 1.7vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1vmax;
    color: #C5C1C0;
}

body {
    background-color: rgb(26, 41, 48);
}

header {
    font-size: 6vmax;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}


hr {
    margin-left: 10%;
    margin-right: 10%;
}

#overlay {
    animation: fadeOutAnim 1s ease-in-out forwards;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1A2930;
    z-index: 2;
}

#headerName {
    color: #F7CE3E;
}

#subHeader {
    font-size: 2vmax;
}

#demoReel {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}

#demoReel iframe {
    position: absolute;
    top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;
}

.intro {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.comment {
    color: #F7CE3E;
    font-style: italic;
}

.linkButton {
    transition: 0.2s;
    color: #F7CE3E;
    animation: linkButtonIdleAnim 0.2s ease-out forwards;
    text-decoration: none;
    outline-color: #F7CE3E;
    outline-width: 0.15vmax;
    outline-style: outset;
    display: inline-block;
    letter-spacing: inherit;
    padding: 10px;
    margin: 10px;
}

.linkButton:hover {
    transition: 0.2s;
    color: #C5C1C0;
    letter-spacing: 0.3vmax;
}

.link {
    transition-duration: 0.5s;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.05vmax;
}

.link:hover {
    transition-duration: 0.5s;
    color: #F7CE3E;
    text-decoration: #F7CE3E;
}

@keyframes fadeOutAnim {
    from {
        background-color: rgb(26, 41, 48);
    }
    to {
        background-color: rgba(26, 41, 48, 0);
    }
}